<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/stylesheets/jumbotron.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<title>Somunity Management System</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Somunity Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="login" method="post">
            <div class="form-group">
              <input type="text" name="id" placeholder="id:admin" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="pw:1234" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">로그인</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Somunity Management System</h2>
        <p>Welcome to Somunity Management System</p>
          <p>
              <a href="https://github.com/browsable/Somunity/">
                  <img border="0" alt="github" src="/images/Octocat.png" width="80" height="60">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.soma.daemin">
                  <img border="0" alt="googleplay" src="/images/google-play-badge.png" width="200" height="80">
              </a>
              <a href="https://github.com/browsable/Somunity_IOS/">
                  <img border="0" alt="appstore" src="/images/iphone-badge.png" width="170" height="52">
              </a>
          </p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>