<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/stylesheets/jumbotron.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<title>Somunity Management System</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Somunity Management System</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Somunity Management System</h2>
        <p>Welcome to Somunity Management System</p>
          <p>
              <a href="https://github.com/browsable/Somunity/blob/master/README.md">
                  <img border="0" alt="github" src="/images/Octocat.png" width="80" height="60">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.soma.daemin">
                  <img border="0" alt="googleplay" src="/images/google-play-badge.png" width="200" height="80">
              </a>
              <a href="ready">
                  <img border="0" alt="appstore" src="/images/iphone-badge.png" width="170" height="52">
              </a>
          </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>User Management</h2>
          <p>User control is to see the state of use of the user through the user list, connected state and can manage the overall information of the user</p>
          <p><a class="btn btn-default" href="users" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Analytics</h2>
            <p>Naemyeo statistical analysis to analyze the overall number of daily users and app users helps to identify the age of the app user can operate strategically</p>
          <p><a class="btn btn-default" href="analytics" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Remote Chat</h2>
          <p>Remote Chat provides a place where you can talk in real time through the app is a real-time database. It is synchronized with the website and the app</p>
          <p><a class="btn btn-default" href="chat" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Made By Hwang - hernia@koreatech.ac.kr</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</body>
</html>