<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        function sendData(){
            if(event.keyCode == 13){
                $("form").submit();
            }
        }
    </script>
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <title>Somunity Management System</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login">Somunity Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="users" method="post">
                <input type="text" name="keyword" class="form-control" placeholder="Search..." onkeyup="sendData()">
            </form>
        </div>
    </div>
</nav>
<script>
    var xmlHttp;

    function createXMLHttpRequest() {
        if(window.ActiveXObject) {
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        } else if(window.XMLHttpRequest) {
            xmlHttp = new XMLHttpRequest();
        }
    }
    function reqHTTP(href, method) {
        createXMLHttpRequest();
        var url = location.href;
        url = url.substr(0, url.lastIndexOf('/'));
        url += href;
        xmlHttp.onreadystatechange = function() {
            if(xmlHttp.readyState == 4) {
                if(xmlHttp.status == 200) {
                    document.open();
                    document.write(xmlHttp.responseText);
                }
            }
        };
        xmlHttp.open(method, url, true);
        xmlHttp.send(null);
    }

</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="javascript:void(0)" onclick="reqHTTP('/users', 'GET')">User List</a></li>
                <li><a href="javascript:void(0)" onclick="reqHTTP('/users', 'POST')">User Register</a></li>
                <li class="active"><a href="javascript:void(0)" onclick="reqHTTP('/users', 'PUT')">User Update<span class="sr-only">(current)</span></a></li>
                <li><a href="javascript:void(0)" onclick="reqHTTP('/users', 'DELETE')">User Delete</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">User Update</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>미래기술 스터디</th>
                        <th>업데이트</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    for(var i=0; i<data.length; i++){
                    %>
                    <tr>
                        <td><%=data[i].id%></td>
                        <td><input type="text" class="update" name="name<%i%>" value=<%=data[i].name%>></td>
                        <td><input type="text" class="update" name="study<%i%>" value=<%=data[i].study%>></td>
                        <td><button type="submit" class="btn btn-success">업데이트</button></td>
                    </tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" preserveAspectRatio="none" style="visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs></defs><text x="0" y="10" style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">200x200</text></svg></body>
</html>